<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="jumbotron large-6 columns">
        <div class="panel fab">
          <% if @top_rounds %>
          <h2><i class="icon-trophy"></i> Fab Five</h2>
          <hr>
          <ul>
          <% @fab_five.each_with_index do |fab, index| %>
            <li class="position<%= index + 1 %>"><%= "#{index + 1}. #{fab[:player]} - #{fab[:deck]} - #{fab[:score]}" %>%</li>
          <% end %>
        </ul>
          <% else %>
            <h3>No one has played our game yet.. Sigh..</h3>
          <% end %>
        </div>
      </div>
      <div class="large-6 columns margin-top">
        <% if session[:valid] %>
        <div class="panel" id="profile">
          <h4><i class="icon-user"></i> <%= session[:user_name] %> <small><%= session[:user_email] %></small></h4>
          <hr>
          <h5>Recent Games:</h5>
          <ul>
          <% @user_stats.each do |stat| %>
            <li><%= "#{stat[:deck]} - #{stat[:score]}" %>%</li>
          <% end %>
        </ul>
        </div>
        <% else %>
        <div class="panel" id="login-form">
          <h4><i class="icon-share-alt"></i> Login</h4>
          <hr>
          <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:<label>
            <input type="password" name="password">
            <input class="button" type="submit" value="LOGIN">
          </form>
        </div>
        <div class="panel flasher">
          <h2>Not a "RARA" guy!?</h2>
          <button id="sign-up">SIGN UP NOW</button>
          <p>Let us change that!</p>
        </div>
        <div class="panel" id="sign-up-form">
          <h4><i class="icon-edit"></i> Sign up</h4>
          <hr>
          <form action="/signup" method="POST">
            <label for="email">Name:</label>
            <input type="text" name="name">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:<label>
            <input type="password" name="password">
            <input class="button" type="submit" value="SIGN UP">
          </form>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section class="decks">
  <div class="row">
    <div class="large-4 columns">
      <a href="/deck/1">
        <div class="panel callout">
          <h2>RARA</h2>
        </div>
      </a>
    </div>
    <div class="large-4 columns">
      <a href="/deck/1">
        <div class="panel callout">
          <h2>RARA</h2>
        </div>
      </a>
    </div>
    <div class="large-4 columns">
      <a href="/deck/1">
        <div class="panel callout">
          <h2>RARA</h2>
        </div>
      </a>
    </div>
  </div>
</section>